Repository Zastinian/esdock: changes, and which Woodpecker steps are due for each by the changed paths.
All: publish-bun, publish-html, publish-java, publish-nodejs, publish-chrnodejs, java, nodejs

publish-bun:
  image: woodpeckerci/plugin-docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/${CI_REPO_OWNER}/esdock
    username: ${CI_REPO_OWNER}
    password:
      from_secret: REGISTRY_TOKEN
    context: bun
    dockerfile: bun/Dockerfile
    tags: bun
    platforms: linux/amd64,linux/arm64

publish-html:
  image: woodpeckerci/plugin-docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/${CI_REPO_OWNER}/esdock
    username: ${CI_REPO_OWNER}
    password:
      from_secret: REGISTRY_TOKEN
    context: html
    dockerfile: html/Dockerfile
    tags: html
    platforms: linux/amd64,linux/arm64

publish-java:
  image: woodpeckerci/plugin-docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/${CI_REPO_OWNER}/esdock
    username: ${CI_REPO_OWNER}
    password:
      from_secret: REGISTRY_TOKEN
    context: java
    dockerfile: java/${TAG}/Dockerfile
    tags: java_${TAG}
    platforms: linux/amd64,linux/arm64
  matrix:
  ...

publish-nodejs:
  image: woodpeckerci/plugin-docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/${CI_REPO_OWNER}/esdock
    username: ${CI_REPO_OWNER}
    password:
      from_secret: REGISTRY_TOKEN
    context: nodejs
    dockerfile: nodejs/${TAG}/Dockerfile
    tags: nodejs_${TAG}
    platforms: linux/amd64,linux/arm64
  ...

publish-chrnodejs:
  image: woodpeckerci/plugin-docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/${CI_REPO_OWNER}/esdock
    username: ${CI_REPO_OWNER}
    password:
      from_secret: REGISTRY_TOKEN
    context: chrnodejs
    dockerfile: chrnodejs/${TAG}/Dockerfile
    tags: chrnodejs_${TAG}
    platforms: linux/amd64
  matrix:
  ...

java:
  steps:
    publish-java:
      image: woodpeckerci/plugin-docker
      settings:
        registry: ghcr.io
        repo: ghcr.io/${CI_REPO_OWNER}/esdock
        username: ${CI_REPO_OWNER}
        password:
          from_secret: REGISTRY_TOKEN
        context: java
        dockerfile: java/${TAG}/Dockerfile
  ...

nodejs:
  steps:
    publish-nodejs:
      image: woodpeckerci/plugin-docker
      settings:
        registry: ghcr.io
        repo: ghcr.io/${CI_REPO_OWNER}/esdock
        username: ${CI_REPO_OWNER}
        password:
          from_secret: REGISTRY_TOKEN
        context: nodejs
        dockerfile: nodejs/${TAG}/Dockerfile
  ...

feat: Update woodpecker format
  .woodpecker.yml
  .woodpecker/bun.yaml
  .woodpecker/chrnodejs.yaml
  .woodpecker/html.yaml
  .woodpecker/java.yaml
  .woodpecker/nodejs.yaml
Due: none

docs: Added readme
  readme.md
Due: none

feat: Update configs
  .woodpecker/bun.yaml
  .woodpecker/chrnodejs.yaml
  .woodpecker/html.yaml
  .woodpecker/java.yaml
  .woodpecker/nodejs.yaml
Due: none

docs: Update readme
  readme.md
Due: none

chore: Rename yaml to yml
  .woodpecker/bun.yml
  .woodpecker/chrnodejs.yml
  .woodpecker/html.yml
  .woodpecker/java.yml
  .woodpecker/nodejs.yml
Due: none

chore: Rename bun.yml to bun.yaml
  .woodpecker/bun.yaml
Due: none

chore: Rename bun.yaml to bun.yml
  .woodpecker/bun.yml
Due: none

feat: Update bun config
  .woodpecker/bun.yml
Due: none

feat: Update woodpecker configs
  .woodpecker/chrnodejs.yml
  .woodpecker/html.yml
  .woodpecker/java.yml
  .woodpecker/nodejs.yml
Due: none

feat: Update woodpecker configs
  .woodpecker/bun.yml
  .woodpecker/chrnodejs.yml
  .woodpecker/html.yml
  .woodpecker/java.yml
  .woodpecker/nodejs.yml
Due: none

feat: Java to only lts versions
  .woodpecker/java.yml
  java/18/Dockerfile
  java/19/Dockerfile
  java/22/Dockerfile
  java/25/Dockerfile
  java/8/Dockerfile
Due: publish-java, java

feat: Added nodejs 24
  .woodpecker/chrnodejs.yml
  .woodpecker/nodejs.yml
  chrnodejs/24/Dockerfile
  nodejs/24/Dockerfile
Due: publish-nodejs, publish-chrnodejs, nodejs

fix: 25 to 8
  java/8/Dockerfile
Due: publish-java, java

feat: Added java 11
  .woodpecker/java.yml
  java/11/Dockerfile
Due: publish-java, java

feat: Update env syntax
  chrnodejs/12/Dockerfile
  chrnodejs/14/Dockerfile
  chrnodejs/16/Dockerfile
  chrnodejs/18/Dockerfile
  chrnodejs/20/Dockerfile
  chrnodejs/22/Dockerfile
  chrnodejs/24/Dockerfile
Due: publish-chrnodejs

feat: Change from woodpecker to forgejo
  .forgejo/workflows/bun.yml
  .forgejo/workflows/chrnodejs.yml
  .forgejo/workflows/html.yml
  .forgejo/workflows/java.yml
  .forgejo/workflows/nodejs.yml
  .woodpecker/bun.yml
  .woodpecker/chrnodejs.yml
  .woodpecker/html.yml
  .woodpecker/java.yml
  .woodpecker/nodejs.yml
Due: none

feat: Update workflows
  .forgejo/workflows/bun.yml
  .forgejo/workflows/chrnodejs.yml
  .forgejo/workflows/html.yml
  .forgejo/workflows/java.yml
  .forgejo/workflows/nodejs.yml
Due: none

feat: Added schedule
  .forgejo/workflows/bun.yml
  .forgejo/workflows/chrnodejs.yml
  .forgejo/workflows/html.yml
  .forgejo/workflows/java.yml
  .forgejo/workflows/nodejs.yml
Due: none

feat: Added noninteractive
  bun/Dockerfile
  java/11/Dockerfile
  java/17/Dockerfile
  java/21/Dockerfile
  java/25/Dockerfile
  java/8/Dockerfile
  nodejs/12/Dockerfile
  nodejs/14/Dockerfile
  nodejs/16/Dockerfile
  nodejs/18/Dockerfile
  nodejs/20/Dockerfile
  nodejs/22/Dockerfile
  nodejs/24/Dockerfile
Due: publish-bun, publish-java, publish-nodejs, java, nodejs

feat: Update dockers
  bun/Dockerfile
  chrnodejs/12/Dockerfile
  chrnodejs/14/Dockerfile
  chrnodejs/16/Dockerfile
  chrnodejs/18/Dockerfile
  chrnodejs/20/Dockerfile
  chrnodejs/22/Dockerfile
  chrnodejs/24/Dockerfile
  html/Dockerfile
  java/11/Dockerfile
  java/17/Dockerfile
  java/21/Dockerfile
  java/25/Dockerfile
  java/8/Dockerfile
  nodejs/12/Dockerfile
  nodejs/14/Dockerfile
  nodejs/16/Dockerfile
  nodejs/18/Dockerfile
  nodejs/20/Dockerfile
  nodejs/22/Dockerfile
  nodejs/24/Dockerfile
Due: publish-bun, publish-html, publish-java, publish-nodejs, publish-chrnodejs, java, nodejs

feat: Update bun
  bun/Dockerfile
Due: publish-bun

feat: Update dockers
  bun/Dockerfile
  java/11/Dockerfile
  java/17/Dockerfile
  java/21/Dockerfile
  java/25/Dockerfile
  java/8/Dockerfile
  nodejs/12/Dockerfile
  nodejs/14/Dockerfile
  nodejs/16/Dockerfile
  nodejs/18/Dockerfile
  nodejs/20/Dockerfile
  nodejs/22/Dockerfile
  nodejs/24/Dockerfile
Due: publish-bun, publish-java, publish-nodejs, java, nodejs

feat: Update dockers
  bun/Dockerfile
  chrnodejs/12/Dockerfile
  chrnodejs/14/Dockerfile
  chrnodejs/16/Dockerfile
  chrnodejs/18/Dockerfile
  chrnodejs/20/Dockerfile
  chrnodejs/22/Dockerfile
  chrnodejs/24/Dockerfile
  nodejs/12/Dockerfile
  nodejs/14/Dockerfile
  nodejs/16/Dockerfile
  nodejs/18/Dockerfile
  nodejs/20/Dockerfile
  nodejs/22/Dockerfile
  nodejs/24/Dockerfile
Due: publish-bun, publish-nodejs, publish-chrnodejs, nodejs

feat: Added gnupg for apt key
  chrnodejs/12/Dockerfile
  chrnodejs/14/Dockerfile
  chrnodejs/16/Dockerfile
  chrnodejs/18/Dockerfile
  chrnodejs/20/Dockerfile
  chrnodejs/22/Dockerfile
  chrnodejs/24/Dockerfile
Due: publish-chrnodejs

Path conditions:
  publish-bun: any of: bun/*
  publish-html: any of: html/*
  publish-java: any of: java/**
  publish-nodejs: any of: nodejs/**
  publish-chrnodejs: any of: chrnodejs/**
  java: any of: java/**
  nodejs: any of: nodejs/**
