Repository Zastinian/esdock: changes, and which Woodpecker steps are due for each by the changed paths.
All: publish-bun, publish-html, publish-java, publish-nodejs, publish-chrnodejs, bun, chrnodejs, html, java, nodejs

publish-bun:
  image: woodpeckerci/plugin-docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/${CI_REPO_OWNER}/esdock
    username: ${CI_REPO_OWNER}
    password:
      from_secret: REGISTRY_TOKEN
    context: bun
    dockerfile: bun/Dockerfile
    tags: bun
    platforms: linux/amd64,linux/arm64

publish-html:
  image: woodpeckerci/plugin-docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/${CI_REPO_OWNER}/esdock
    username: ${CI_REPO_OWNER}
    password:
      from_secret: REGISTRY_TOKEN
    context: html
    dockerfile: html/Dockerfile
    tags: html
    platforms: linux/amd64,linux/arm64

publish-java:
  image: woodpeckerci/plugin-docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/${CI_REPO_OWNER}/esdock
    username: ${CI_REPO_OWNER}
    password:
      from_secret: REGISTRY_TOKEN
    context: java
    dockerfile: java/${TAG}/Dockerfile
    tags: java_${TAG}
    platforms: linux/amd64,linux/arm64
  matrix:
  ...

publish-nodejs:
  image: woodpeckerci/plugin-docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/${CI_REPO_OWNER}/esdock
    username: ${CI_REPO_OWNER}
    password:
      from_secret: REGISTRY_TOKEN
    context: nodejs
    dockerfile: nodejs/${TAG}/Dockerfile
    tags: nodejs_${TAG}
    platforms: linux/amd64,linux/arm64
  ...

publish-chrnodejs:
  image: woodpeckerci/plugin-docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/${CI_REPO_OWNER}/esdock
    username: ${CI_REPO_OWNER}
    password:
      from_secret: REGISTRY_TOKEN
    context: chrnodejs
    dockerfile: chrnodejs/${TAG}/Dockerfile
    tags: chrnodejs_${TAG}
    platforms: linux/amd64
  matrix:
  ...

bun:
  steps:
    build-push:
      image: woodpeckerci/plugin-docker-buildx
      settings:
        registry: ghcr.io
        repo: ghcr.io/${CI_REPO_OWNER}/esdock
        tags: bun
        dockerfile: bun/Dockerfile
        context: bun
        platforms: linux/amd64,linux/arm64
        username: ${CI_REPO_OWNER}
  ...

chrnodejs:
  steps:
  - name: publish-chrnodejs
    image: woodpeckerci/plugin-docker
    settings:
      registry: ghcr.io
      repo: ghcr.io/${CI_REPO_OWNER}/esdock
      username: ${CI_REPO_OWNER}
      password:
        from_secret: REGISTRY_TOKEN
      context: chrnodejs
      dockerfile: chrnodejs/${TAG}/Dockerfile
  ...

html:
  steps:
  - name: publish-html
    image: woodpeckerci/plugin-docker
    settings:
      registry: ghcr.io
      repo: ghcr.io/${CI_REPO_OWNER}/esdock
      username: ${CI_REPO_OWNER}
      password:
        from_secret: REGISTRY_TOKEN
      context: html
      dockerfile: html/Dockerfile
      tags: html
  ...

java:
  steps:
    publish-java:
      image: woodpeckerci/plugin-docker
      settings:
        registry: ghcr.io
        repo: ghcr.io/${CI_REPO_OWNER}/esdock
        username: ${CI_REPO_OWNER}
        password:
          from_secret: REGISTRY_TOKEN
        context: java
        dockerfile: java/${TAG}/Dockerfile
  ...

feat: Change cron
  .forgejo/workflows/bun.yml
  .forgejo/workflows/chrnodejs.yml
  .forgejo/workflows/html.yml
  .forgejo/workflows/java.yml
  .forgejo/workflows/nodejs.yml
Due: none

chore: remove gitignore
  .gitignore
Due: none

feat: Update chrome docker
  chrnodejs/12/Dockerfile
  chrnodejs/14/Dockerfile
  chrnodejs/16/Dockerfile
  chrnodejs/18/Dockerfile
  chrnodejs/20/Dockerfile
  chrnodejs/22/Dockerfile
  chrnodejs/24/Dockerfile
Due: publish-chrnodejs, chrnodejs

feat: Added git
  bun/Dockerfile
  chrnodejs/12/Dockerfile
  chrnodejs/14/Dockerfile
  chrnodejs/16/Dockerfile
  chrnodejs/18/Dockerfile
  chrnodejs/20/Dockerfile
  chrnodejs/22/Dockerfile
  chrnodejs/24/Dockerfile
  html/Dockerfile
  java/11/Dockerfile
  java/17/Dockerfile
  java/21/Dockerfile
  java/25/Dockerfile
  java/8/Dockerfile
  nodejs/12/Dockerfile
  nodejs/14/Dockerfile
  nodejs/16/Dockerfile
  nodejs/18/Dockerfile
  nodejs/20/Dockerfile
  nodejs/22/Dockerfile
  nodejs/24/Dockerfile
Due: publish-bun, publish-html, publish-java, publish-nodejs, publish-chrnodejs, bun, chrnodejs, html, java, nodejs

feat: Added iproute2
  bun/Dockerfile
  html/Dockerfile
  java/11/Dockerfile
  java/17/Dockerfile
  java/21/Dockerfile
  java/25/Dockerfile
  java/8/Dockerfile
  nodejs/12/Dockerfile
  nodejs/14/Dockerfile
  nodejs/16/Dockerfile
  nodejs/18/Dockerfile
  nodejs/20/Dockerfile
  nodejs/22/Dockerfile
  nodejs/24/Dockerfile
Due: publish-bun, publish-html, publish-java, publish-nodejs, bun, html, java, nodejs

feat: Added chromium
  chrnodejs/12/Dockerfile
  chrnodejs/14/Dockerfile
  chrnodejs/16/Dockerfile
  chrnodejs/18/Dockerfile
  chrnodejs/20/Dockerfile
  chrnodejs/22/Dockerfile
  chrnodejs/24/Dockerfile
Due: publish-chrnodejs, chrnodejs

feat: Added arm
  .forgejo/workflows/chrnodejs.yml
Due: none

feat: Update workflows
  .forgejo/workflows/bun.yml
  .forgejo/workflows/chrnodejs.yml
  .forgejo/workflows/html.yml
  .forgejo/workflows/java.yml
  .forgejo/workflows/nodejs.yml
Due: none

feat: Change bullseye to bookworm
  chrnodejs/16/Dockerfile
  chrnodejs/18/Dockerfile
  nodejs/16/Dockerfile
  nodejs/18/Dockerfile
Due: publish-nodejs, publish-chrnodejs, chrnodejs, nodejs

feat: Change bullseye to trixie
  chrnodejs/20/Dockerfile
  chrnodejs/22/Dockerfile
  chrnodejs/24/Dockerfile
  nodejs/20/Dockerfile
  nodejs/22/Dockerfile
  nodejs/24/Dockerfile
Due: publish-nodejs, publish-chrnodejs, chrnodejs, nodejs

fix: Change kacst to arabeyes
  chrnodejs/20/Dockerfile
  chrnodejs/22/Dockerfile
  chrnodejs/24/Dockerfile
Due: publish-chrnodejs, chrnodejs

feat: Added fix missing
  chrnodejs/12/Dockerfile
  chrnodejs/14/Dockerfile
  chrnodejs/16/Dockerfile
  chrnodejs/18/Dockerfile
  chrnodejs/20/Dockerfile
  chrnodejs/22/Dockerfile
  chrnodejs/24/Dockerfile
Due: publish-chrnodejs, chrnodejs

Path conditions:
  publish-bun: any of: bun/*
  publish-html: any of: html/*
  publish-java: any of: java/**
  publish-nodejs: any of: nodejs/**
  publish-chrnodejs: any of: chrnodejs/**
  bun: any of: bun/*
  chrnodejs: any of: chrnodejs/**
  html: any of: html/*
  java: any of: java/**
  nodejs: any of: nodejs/**
